<div class="col-lg-4 col-lg-offset-4 car-table-div">

    {{# if error}}

        <div>
            <p style="color: red">{{ error }}</p>
        </div>

    {{/if}}

    <form method="post" action="/car/update/{{car.id}}">

        <div class="form-group">

            <label for="name">Car name:</label>
            <input type="text" class="form-control" id="name" name="name" value="{{car.name}}">

        </div>

        <div class="form-group">

            <label for="color">Color:</label>
            <input type="text" class="form-control" id="color" name="color"  value="{{car.color}}">

        </div>

        <button type="submit" class="btn btn-primary">Update</button>

    </form>

</div>
